[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "ffmetadata"]
	path = ffmetadata
	url = https://github.com/fragilefamilieschallenge/ffmetadata
	shallow = true
	registered = true
